extends layout

block content
  h1 User management system
  p Welcome to the user management system. Here, you can sign up for a new account or log in to an existing account. Get started by clicking the buttons below.
  button Login
  button Sign up